<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rocklct.bangumi.mybangumi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BangumiApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/toolbar_title"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.BookMainActivity"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".ui.activity.MusicMainActivity"
            android:launchMode="singleTask">

        </activity>

        <activity
            android:name=".ui.activity.GameMainActivity"
            android:launchMode="singleTask">

        </activity>

        <activity
            android:name=".ui.activity.RealMainActivity"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".ui.activity.DetailActivity">

        </activity>
        <activity android:name=".ui.activity.SearchActvity"
            android:launchMode="singleTop"
            android:label="搜索">
        </activity>
        <activity android:name=".ui.activity.WebViewActivity"
            >

        </activity>
        <activity android:name=".ui.activity.LoginActivity"
            >

        </activity>
        <provider
            android:authorities="com.example.rocklct.bangumi.util.MySuggestionProvider"
            android:name=".util.MySuggestionProvider"/>
    </application>

</manifest>
